	<section id="about-landing">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<h1 style="color: white">About Us</h1>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-12">
    				<h2 id="about-slogan" style="color: white"> CONNECT YOUR WORLD</h2>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-1 col-md-3"></div>
    			<div class="col-10 col-md-6 about-txt">
    				<p style="color: white">PixMap is an application desgined to help connect and share your memories around the world. 
    				   Use PixMap to upload photos and pin them to locations. Follow your friends or find photos 
    				   based on location, interests, or themes!	</p>
    			</div>
    			<div class="col-1 col-md-6"></div>
    		</div>
    		<div class="row">
   				<div class="col-2 offset-5">
   					<i id="about-arrow" class="fa fa-arrow-circle-o-down fa-3x" ng-click="aboutCtrl.scrollDown()" style="color: white"></i>
   				</div>
    		</div>
    	</div>
	</section>
	<section id="about-team">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>PixMap Team</h1>
					<hr>
				</div>
			</div>
			<div id="about-img-row" class="row">
				<div class="col-md-2 mr-auto" style="margin-left: 4em;">
					<div class="about-img" style="width: 18rem;">
					  <img class="about-profile" src="assets/images/nick.png">
					  <p style="text-align: center">Nickolas Owens <br> Program Manager <br> Front End Engineer</p>
					</div>
				</div>
				<div class="col-md-2 mr-auto">
					<div class="about-img" style="width: 18rem;">
					  <img class="about-profile" src="assets/images/rosa.png">
					   <p style="text-align: center;">Rosa Saldana <br> SCRUM Master <br> Full Stack Engineer</p>
					</div>
				</div>
				<div class="col-md-2 mr-auto">
					<div class="about-img" style="width: 18rem;">
					  <img class="about-profile" src="assets/images/douglas.png">
					   <p style="text-align: center;">Douglas Guerra <br> Back End Engineer</p>
					</div>
				</div>
				<div class="col-md-2 mr-auto">
					<div class="about-img" style="width: 18rem;">
					  <img class="about-profile" src="assets/images/james.png">
					   <p style="text-align: center;">James Dika <br> Full Stack Engineer</p>
					</div>
				</div>
				<div class="col-md-2 mr-auto">
					<div class="about-img" style="width: 18rem;">
					  <img class="about-profile" src="assets/images/daniel.png">
					   <p style="text-align: center">Daniel Castro <br> Back End Engineer</p>
				</div>
			</div>
		</div>
	</section>

