<!DOCTYPE html>
<html>
<div class="home-page">
    <!-- FADING IN AND OUT PIXMAP MESSAGE -->
    <div class="pixmap-message">
        <ul class="fly-in-text hidden">
            <li>P</li>
            <li>I</li>
            <li>X</li>
            <li>M</li>
            <li>A</li>
            <li>P</li>
            <li>❤</li>
        </ul>
    </div>

    <!--- FADING IN WEBSITE CONTENT -->
    <div class="fade-in">
        <div class="blurred-bg-contain">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
            <div class="content">
                <div class="text">
                    <div style="text-align: center">
                        <h1>
                            <font size="50"> See what's happening in <br />
                                in the world right now </font> <br />
                        </h1>
                        <p class="small"> </p>
                    </div>

                    <h1> <small>
                            <div style="text-align: center">
                                <p class="line-height">
                                    <a href="https://pixmapworld.herokuapp.com/login" class="swagButton"> Sign In </a> <br /> </p>
                                <a href="https://pixmapworld.herokuapp.com/register" class="swagButton">Sign Up </a> <br />
                            </div>
                        </small> </h1>
                </div>

                <div class="blur"></div>
            </div>
        </div>
    </div>

</div>

</html>
