<div style="text-align: center; margin: auto;">
	<center><img src="assets/images/PixMap Logo2.png"></center>
	<font size="7">

	<span style="color: #A569BD; text-align: center;">Welcome<span></span>
	<span style="color: #6C3483; text-align: center;">to<span></span>
	<span style="color: #3498DB; text-align: center;">PixMap<span></span>
</div>
<div style="text-align: center; margin: auto; padding-top: 50px;">
	<font size="6">

	<p><button type="button" style="text-align: center; cursor: pointer; border: 3px solid black; background: white; width: 400px; height: 50px"><i class="fa fa-google fa-1x" aria-hidden="true" style="cursor: pointer; color: #A569BD; background: white; padding-right: 40px;"></i>Continue with Google</button></p>
	<a href = "/auth/facebook" target="_blank"><button type="button" style="text-align: center; cursor: pointer; border: 3px solid black; background: white; width: 400px; height: 50px"><i class="fa fa-facebook fa-1x" aria-hidden="true" style="cursor: pointer; color: #3498DB; background: white; padding-right: 20px;"></i>Continue with Facebook</button></a>

	<a href="http://localhost:8080/login"
	<p><button type="button" style="text-align: center; cursor: pointer; border: 3px solid black; background: white; width: 400px; height: 50px;"><img src="assets/images/PixMap Logo2.png" style="width: 25px; height: 35px; padding-top: 5px" align="left">Continue with PixMap</button></p></a>
	
</div>

<div style="text-align: center;">
	<font size="5">

	Don't have an account?
	<a href="http://localhost:8080/register">Sign Up</a>
</div>

  




