#contact-name {
	padding-left: 8em;
	text-align: center;
	font-weight: bold;
}

#contact-email {
	padding-left: 4em;
	text-align: center;
}

 #contact-page {
 	padding-top: 10px;
 	min-height: 82vh;
 	margin-top: -38px;
 	overflow-x: hidden;
 }
