.blurred-bg-container .content h1 {
  margin: 0;
  color: white;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Playfair Display', serif;
}

p.small {
	line-height: 1.0
}

p.line-height {
	line-height: 2.0;
}

.blurred-bg-container {
  background: url("/assets/images/skiing.png");
  height: 100vh; /* =h */
  margin-top: -38px;
	width: 100%;
	min-height: 87vh;
	padding-top: 40px;
  background-size: cover;
}

.blurred-bg-container .content {
  background: inherit;
  width: 60%; /* =cw */
  height: 40%; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%; /* =ct */
  left: 40%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.blurred-bg-container .text {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  box-sizing: border-box; /* so that padding is included in height */
}

.blurred-bg-container .blur {
  background: inherit;
  height: 100vh; /* h */
  width: 166.667%; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -10%,
    -30%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(20px);
  z-index: -1;
}

/* Button Stuff */
.swagButton {
	color: #31A6FF;
	font-family: "proxima nova"
	font-weight: 100;
	font-size: 20px;
	text-align: center;
	/** circular outline **/
	border: solid 2px #31A6FF;
	border-radius: 60px;
	padding: 10px 200px;
	/** transition from regular to hover effect **/
	transition-duration: 200ms;
}

/** contents in here show when someone hoves over button **/
.swagButton:hover {
	background-color: #31A6FF;
	color: #fff;
}
