
.nav{
    margin-bottom: 50px;
    height: 64px;
}

/* Min page height = 100vh - (height-navbar + margin-navbar) - (height-footer + margin-footer)*/
/* Min page height = 100vh - (64px + 50px) - (56px)*/
#pages{
    min-height: calc(100vh - 170px);
}

footer{
    margin-top: 20px;
}
