.nav{
    padding-bottom: 100px;
    height: 64px;
}

#pages{
    min-height: calc(100vh - 145px);    /* Making the page take a minimum height of the full page without the navbar */
}

.mapboxgl-canvas, .mapboxgl-map{
    height: 100vh;
    width: 100%;
}
