body, html {
  padding-top: 5rem;
  height: 100%;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#container {
	min-height: 100%;
}

/**
#main {
	overflow: auto;
	padding-bottom: 100px;
} **/

footer {
	background-color: #000;
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
}

a:link {
	color: white;
	text-decoration:none;
	/* places link next to each other */
	display: inline-block
}

a:visited {
	color: white;
	text-decoration:none;
}

a.hover {
	color: white;
	text-decoration:none;
}

.logo {
	position: absolute;
	top: 20%;
	left: 40%;
	transform: translate(-50%. -50%);

}