.top-margin{
    margin-top: 10px;
}

.search-bar{
    height: 50%;
}

.mapboxgl-canvas, .mapboxgl-map{
    margin: 0px;
    height: calc(100vh - 250px);
    width: 100%;
}

.del-user-img{
    width: 20px;
    height: 20px;
}

.add-user-img{
    width: 30px;
    height: 30px;
}

.profile-picture{
    min-width: 100px;
    max-width: 250px;
}

.allusers-modal-body{
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.posts-modal-body{
    max-height: calc(100vh - 30px);
    overflow-y: auto;
}

.profile-posts {
    margin-top: -20px;
    max-height: 65vh;
    overflow-y: scroll;
}

.card-options {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: -15px;
}

#comment-input {
    height: calc(1.5rem + 2px);
    border: none;
}
