.profile-page{
    /* margin-left: 5%;
    margin-right: 5%; */
}

.top-margin{
    margin-top: 10px;
}

.MapboxApi {
    margin-bottom: 10px;
}

.mapboxgl-canvas, .mapboxgl-map{
    margin: auto;
    height: calc(100vh - 170px);
    width: 98%;
}


#geocoder-container{
    min-width: 50%;
    margin-left: 25%;
}
