<div class="container centered-text">

    <div class="page-header">
        <h1>User Login</h1>
    </div>

    <form ng-submit="userCtrl.logIn(loginData)">
        <label>Username:</label>
        <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="userCtrl.loginData.username">
        <br>

        <label>Password:</label>
        <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model="userCtrl.loginData.password">
        <br>

        <button class="btn btn-primary" type="submit">Register</button>

    </form>
    <br>

    <div class="jumbotron text-center" ng-show="userCtrl.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading...</p>
    </div>

    <div class="row show-hide-message" ng-show="userCtrl.successMsg">
        <div class="alert alert-success">{{userCtrl.successMsg}}</div>
    </div>

    <div class="row show-hide-message" ng-show="userCtrl.errorMsg">
        <div class="alert alert-danger">{{userCtrl.errorMsg}}</div>
    </div>

</div>
