<div class="container-fluid">

    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#upload-form">Upload Photo</button>
            <button type="button" class="btn-sm btn-primary" ng-click="profileCtrl.displayUserPosts(profileCtrl.username)">My Posts</button>
        </div>
    </div>
    <br>

    <!-- Main Profile Content -->
    <div class="row profile-content">

        <!-- Displaying user's friend -->
        <div class="col-md-2">
            <div class="row">
                <input type="text" class="form-control search-bar" placeholder="Friends" ng-model="friendSearchText" />
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="friend in profileCtrl.friends.displayName | filter: friendSearchText">
                                <td class="text" ng-click="profileCtrl.displayUserPosts(friend)">{{friend}}</td>
                                <td>
                                    <img class="del-user-img pull-right" src="assets/images/unfollow-user.png" ng-click="profileCtrl.unfollowUser(friend)" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <img class="add-user-img pull-right" src="assets/images/add-user.png" data-toggle="modal" data-target="#addFriendModal" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of friends list -->

        <!-- Posts -->
        <div class="col-md-4 top-margin profile-posts">
            <div class="row" ng-repeat="post in profileCtrl.userposts">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body" style="padding: 10px">
                            <p class="card-text">{{post.username}}</p>
                            <h5 class="card-title">{{post.imgTitle}}</h5>
                        </div>
                        <img class="card-img-top" src="profile-api/image/{{post.filename}}" alt="Card image cap">
                        <div class="dropdown card-body card-options">
                            <p class="card-text">{{post.imgDescription}}</p>
                            <i class="fa fa-heart{{post.heartstatus}} fa-2x" style="margin-right: 20px; cursor: pointer" aria-hidden="true" ng-click="profileCtrl.updateLikes(this.post._id)"></i>
                            <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                            <i href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="fa fa-ellipsis-h fa-2x" style="float: right; cursor: pointer;" aria-hidden="true">
                            </i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" ng-click="profileCtrl.deleteImagePost(this.post._id)" href="#">Delete Post <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="card-body" style="padding-bottom: 0px;">
                            <p class="card-text">{{post.likeCount}} Likes</p>
                        </div>
                        <div class="card-body" style="padding-top: 10px;">
                            <p class="card-text" ng-repeat="comment in post.comments">
                                <span><b>{{comment.user}}</b> {{comment.message}} <i style="float: right; cursor: pointer;" class="fa fa-times" aria-hidden="true" ng-click="profileCtrl.deleteComment(this.post._id, comment._id)"></i></span>
                            </p>
                            <hr>
                            <form ng-submit="postComment(this.post._id, profileCtrl.username, profileCtrl.userComment)" id="comment-form">
                                <input type="text" placeholder="Type a comment..." class="form-control" id="comment-input" name="userComment" ng-model="profileCtrl.userComment">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of posts -->

        <!-- Mapbox display -->
        <div class="col">
            <div mapbox></div>
        </div>

    </div>
    <!-- End of main profile content -->

    <!-- Modal for Uploading photo -->
    <div class="modal fade" id="upload-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="profileCtrl.uploadPhoto(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/profile-api/userimages" method="POST" enctype="multipart/form-data" id="uploadPhoto-form">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Title</label>
                            <input type="text" class="form-control" name="imgTitle" ng-model="profileCtrl.imgTitle">
                        </div>
                        <div class="form-group">
                            <label for="image-location" class="col-form-label">Photo Location</label>
                            <div class="row">
                                <div class="col">
                                    <input id="postLocation" type="text" class="form-control" name="imgCityLocation" ng-model="profileCtrl.imgLocation">
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary" ng-click="profileCtrl.getUserLocation()">Use Current Location</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description</label>
                            <textarea class="form-control" name="imgDescription" ng-model="profileCtrl.imgDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input imageread type="file" class="custom-file-input" name="userImg" aria-describedby="userImg" accept=".jpg,.jpeg,.png">
                                <label class="custom-file-label" for="userImg">Choose photo</label>
                            </div>
                        </div>
                        <img id="PreviewUploadImage" class="responsive-image">
                        <input type="hidden" name="username" value="{{profileCtrl.username}}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="profileCtrl.uploadPhoto(false)">Close</button>
                    <input type="submit" value="Upload Photo" class="btn btn-primary" ng-click="profileCtrl.uploadPhoto()">
                </div>
            </div>
        </div>
    </div>
    <!-- End of uploading photo -->

    <!-- Modal for adding a friend -->
    <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Follow User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal Body  -->
                <div class="modal-body allusers-modal-body">

                    <!-- Displaying all users -->
                    <input type="text" class="form-control" placeholder="Search" ng-model="userSearchText" />
                    <table class="table top-margin">
                        <tbody>
                            <tr ng-repeat="user in profileCtrl.users.displayName | filter: userSearchText">
                                <td>Insert Profile Pic</td>
                                <td>{{user}}</td>
                                <td ng-show="!profileCtrl.followsUser(user)">
                                    <button type="button" class="btn btn-primary" ng-click="profileCtrl.followUser(user)">
                                        Follow
                                    </button>
                                </td>
                                <td ng-show="profileCtrl.followsUser(user)">
                                    <button type="button" class="btn btn-danger" ng-click="profileCtrl.unfollowUser(user)">
                                        Unfollow
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="show-hide-message text-center" ng-show="profileCtrl.errorMsg">
                        <div class="alert alert-danger">{{profileCtrl.errorMsg}}</div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of add friend modal -->

    <!-- Modal for displaying posts for a given user -->
    <button hidden id="displayPostsModal" type="button" class="btn btn-primary" data-toggle="modal" data-target=".posts-modal"></button>
    <div class="modal fade posts-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{profileCtrl.postsModalTitle}}'s Posts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body posts-modal-body">
                    <div class="row" ng-repeat="post in profileCtrl.modalUserPosts">
                        <div class="col-sm">
                            <div class="card-body" style="padding: 10px">
                                <h5 class="card-title">{{post.imgTitle}}</h5>
                            </div>
                            <img class="card-img-top" src="profile-api/image/{{post.filename}}" alt="Card image cap" style="responsive-image">
                            <div class="dropdown card-body card-options">
                                <p class="card-text">{{post.imgDescription}}</p>
                                <i class="fa fa-heart{{post.heartstatus}} fa-2x" style="margin-right: 20px; cursor: pointer" aria-hidden="true" ng-click="profileCtrl.updateLikes(this.post._id)"></i>
                                <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                                <i href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="fa fa-ellipsis-h fa-2x" style="float: right; cursor: pointer;" aria-hidden="true">
                                </i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" ng-click="profileCtrl.deleteImagePost(this.post._id)" href="#">Delete Post <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="card-body" style="padding-bottom: 0px;">
                                <p class="card-text">{{post.likeCount}} Likes</p>
                            </div>
                            <div class="card-body" style="padding-top: 10px;">
                                <p class="card-text" ng-repeat="comment in post.comments">
                                    <span><b>{{comment.user}}</b> {{comment.message}} <i style="float: right; cursor: pointer;" class="fa fa-times" aria-hidden="true" ng-click="profileCtrl.deleteComment(this.post._id, comment._id)"></i></span>
                                </p>
                                <hr>
                                <form ng-submit="postComment(this.post._id, profileCtrl.username, profileCtrl.userComment)" id="comment-form">
                                    <input type="text" placeholder="Type a comment..." class="form-control" id="comment-input" name="userComment" ng-model="profileCtrl.userComment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
