<div class="container">
    <div class="row">

        <!-- Table for profile settings -->
        <div class="col-xs-2">
            <table class="table table-hover table-bordered text-left">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Profile Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-click="settingsCtrl.displayPage(0)">Profile</td>
                    </tr>
                    <tr>
                        <td ng-click="settingsCtrl.displayPage(1)">Account</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End of table  -->

        <!-- Public profile settings -->
        <div class="col" ng-show="settingsCtrl.display[0]">
            <h3>Public Profile</h3>
            <hr>

            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="{{settingsCtrl.displayName}}">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="{{settingsCtrl.displayEmail}}">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h6>Profile Picture</h6>
                    <br>
                    <div class="avatar-circle" id="avatar" ng-show="settingsCtrl.showAvatar">
                        <span class="avatar-initials" id="avatar-text">{{settingsCtrl.avatarText}}</span>
                    </div>
                    <img id="previewProfilePic" class="responsive-image" style="min-width: 100px; max-width: 250px;" >
                    <br>
                    <br>
                    <form action="/profile-api/uploadProfilePic" method="POST" enctype="multipart/form-data" id="submission-form">
                        <input type="hidden" name="user" value="{{settingsCtrl.username}}">
                        <label for="file-upload" class="btn btn-sm btn-primary">Upload Picture</label>
                        <input id="file-upload"name="profilePic" type="file" accept="image/*" imageread style="display:none;" />
                    </form>
                </div>
            </div>

            <hr>
            <br>
            <input type="submit" value="Update Profile" class="btn btn-success btn-md" form="submission-form">
            <br>
            <br>
        </div>
        <!-- End of public profile settings -->

        <!-- Account settings -->
        <div class="col-sm-9" ng-show="settingsCtrl.display[1]">
            <h3>Change Password</h3>
            <hr>
            <div class="form-group">
                <label for="inputOldPassword">Old Password</label>
                <input type="text" class="form-control" id="inputOldPassword">
            </div>
            <div class="form-group">
                <label for="inputNewPassword">New Password</label>
                <input type="text" class="form-control" id="inputNewPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="text" class="form-control" id="confirmPassword">
            </div>
            <button type="button" class="btn btn-md btn-primary">Update Password</button>
            <a href="#" style="margin-left: 5px;">Forgot Password</a>
            <br>
            <br>

            <h3>Change Username</h3>
            <hr>
            <div class="form-group">
                <label for="oldUsername">Old Username</label>
                <input type="text" class="form-control" id="oldUsername">
            </div>
            <div class="form-group">
                <label for="newUsername">New Username</label>
                <input type="text" class="form-control" id="newUsername">
            </div>
            <button type="button" class="btn btn-md btn-primary">Change Username</button>
            <br>
            <br>

            <h3 class="text-danger">Delete Account</h3>
            <hr>
            <p>Once you delete your account, there is no going back. Please be certain.</p>
            <button type="button" class="btn btn-md btn-danger">Delete Account</button>
            <hr>
            <br>
            <br>
        </div>
        <!-- End of account settings  -->

    </div>
</div>
